/* leave this part alone */
section#rules {
    border: 1px solid black;
    padding-inline: 1rem;
    border-radius: 5px;
    background: white;
    p {
        line-height: 1.4;
        max-width: 75ch;
    }
    ol {
        display: grid;
        gap: 0.5rem;
        font-size: 1.2em;
    }
}

/*
Change and add to the default styles here if you want
but expect someone else to change them after you
*/

body {
    font-family: system-ui;
    background: #eee;
    display: grid;
    gap: 1rem;
}
main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* 
Add your specific section styles here
Don't modify anyone else's
*/

section#P987654321 {
    background: white;
    padding: 1rem;
}
section#P987654321:hover {
    animation: flash 200ms infinite alternate;
    background: #eee;
}
@keyframes flash {
    100% {
        background: white;
    }
}

section#P000000000 {
    background: hsl(240, 20%, 20%);
    color: hsl(240, 70%, 90%);
    padding: 1rem;
    border-radius: 10px;
    border: 10px solid hsl(240, 20%, 40%);
}
section#P000000000 h2 {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    align-items: baseline;
}
section#P000000000 h2 span.student-number {
    font-family: monospace;
    font-weight: normal;
    font-size: 1rem;
}
section#P123456789 {
    background: hsl(0, 50%, 50%);
    color: hsl(0, 90%, 90%);
    padding: 1rem;
    display: grid;
    grid-template-columns: auto min-content;
    grid-auto-rows: min-content;
    border-radius: 2px;
    transition: 200ms;
    h2, p {
        grid-column: span 2;
    } 
    time, span {
        grid-row: 3;
        font-size: 0.8em;
        color: hsl(0, 90%, 80%);
        transition: 400ms;
    }
    h2 {
        margin: 0;
    }
    p {
        max-width: 70ch;
        line-height: 1.4;
    }
    &:hover {
        filter: brightness(1.01);
        span {
            color: white;
        }
    }
}
section#P2782946 {
    background: Black;
    padding: 1rem;
    border-radius: 5px;
    h2, p {
        color: white;
    }
    .p-number {
        color: pink;
    }
    .github {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    &:hover {
        background: pink;
        .p-number {
            color: black;
        }
    }
}
